/* MEU PRIMEIRO CSS FODASE PRA MIN */

#container{
background-color:#1a1b1f;
color:#adafbc;
margin-left:20%;
margin-right:20%;
height:600px;
}

nav{
  background-color: #716868;
  padding:0.02% 0 0.02% 0;
  border-radius:15px;

}


#menu-vert li{
  display: inline;
  padding: 0 4% 0 4%;

}


#menu-vert li a{
  text-decoration: none;
  font-family: "Tahoma",serif;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  transition:color 2s;
  padding: 2%;
}


/*PSEUDO CLASSES */

#menu-vert li a:VISITED{
  color:#fff;

}

#menu-vert li a:LINK{
  color:#fff;

}

#menu-vert li a:HOVER{
  color:#1a1b1f;
  background-color: #fff;

}

/* SELEÇÃO DE CLASSES */

.tit-pag-init{
  position: absolute;
  left:38%;

}

.img_logo_init{
  position: relative;
  top:10%;
  width:10%;



}
